header .top-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .top-bar li a {
  padding: 6px;
}

header .top-bar li a:first-child {
  padding-left: 0px;
}

header .top-bar li .sub-menu {
  display: none;
}

header .top-bar .menu-item-has-children:hover .sub-menu {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
